*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway';
  background: url(./assets/diego-ph-qKAto00u4og-unsplash.jpg);
}

.logoSvg {
  position: relative;
  top: 185px;
  right: -204px;
}

.btnPlay {
  position:relative;
  padding: 20px 100px 25px;
  gap: 10px;
  background: #7389D5;
  border-radius: 10px;
  top:163px;
  left:569px;
  border: none; 
  color:white;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  text-transform: lowercase;
  font-family: 'Raleway';
  font-style: normal;
}